.result-link {
  border: 1px solid black;
  border-radius: 0.25rem;
  height: 35px;
  width: 100px;
  color: black;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  line-height: 19px;
  white-space: nowrap;
  display: inline;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  cursor: pointer;
}

.result-link.passed {
  background-color: $passed-color;
}
.result-link.passed:hover {
  background-color: $dark-passed-color;
}
.result-link.passed:active {
  background-color: $light-passed-color;
}

.result-link.failed {
  background-color: $failed-color;
}
.result-link.failed:hover {
  background-color: $dark-failed-color;
}
.result-link.failed:active {
  background-color: $light-failed-color;
}


.result-link.timed-out {
  background-color: yellow;
}